html {
  height: 100%;
  width: 100%;
}

body{
  background-color: #cad2d9;
}

#container{
  margin: auto;
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 70px;
  padding: 20px;
}


#countLabel{
  font-size: 10em;
  font-weight: bold;
  font-family: helvatica;
}

.btn{
  color: white;
  background-color: hsl(214, 100%, 75%);
  font-size: 1em;
  font-weight: bold;
  border-radius: 5px;
  padding: 5px;
  transition: backgroud-color 0.25s;
}

.btn:hover{
  background-color: hsl(214, 100%, 64%);
}